.classify-enter {
  width: 335upx !important;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/enter-product-category.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/product-category-list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-eee {
  color: #eee;
}
