.classify-enter {
  width: 335upx !important;
  background-image: url('@/static/images/classify/enter.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  background-image: url('@/static/images/classify/list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-eee {
  color: #eee;
}
