.classify-enter {
  width: 335upx !important;
  background-image: url('@/static/images/order/user-enter.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  background-image: url('@/static/images/order/user-list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user-enter {
  width: 335upx !important;
  background-image: url('@/static/images/order/order-enter.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user-list {
  width: 335upx !important;
  background-image: url('@/static/images/order/order-list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-eee {
  color: #eee;
}
