.classify-enter {
  width: 335upx !important;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/enter-order.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/order-list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user-enter {
  width: 335upx !important;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/enter-user.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user-list {
  width: 335upx !important;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/user-list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-eee {
  color: #eee;
}
