.gradual-red {
  background-image: linear-gradient(90deg, #ff4f75, #ff9c9d);
  color: #fff;
}

.classify-enter {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/enter-product-category.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/product-category-list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-off {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('https://www.zouyinghao.com/tea-house/images/classify/good-off-icon.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 20rpx;
}

.text-eee {
  color: #eee;
}
