.gradual-red {
  background-image: linear-gradient(90deg, #ff4f75, #ff9c9d);
  color: #fff;
}

.classify-enter {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('@/static/images/commodity/enter.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('@/static/images/commodity/list.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-off {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('@/static/images/commodity/off.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 20rpx;
}

.text-eee {
  color: #eee;
}
