.margin-top-xm {
  margin-top: 15upx;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.bg-gradual-purples {
  background-image: linear-gradient(45deg, rgb(90, 132, 244), rgb(137, 111, 236));
  color: #fff;
}

.text-purples {
  color: #8b7df6;
}

/* 适配 ios 底部安全区域 */
.ios-safety {
  padding-bottom: calc(constant(safe-area-inset-bottom) / 2);
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
}

/* 页面底部存在元素，且元素高度为 120upx，例如：Button。根据自己实际情况定义 */
.ios-safety-btn {
  padding-bottom: calc(120upx);
  padding-bottom: calc(120upx + constant(safe-area-inset-bottom) / 2);
  padding-bottom: calc(120upx + env(safe-area-inset-bottom) / 2);
}

.ios-safety-btn-100 {
  padding-bottom: calc(100upx);
  padding-bottom: calc(100upx + constant(safe-area-inset-bottom) / 2);
  padding-bottom: calc(100upx + env(safe-area-inset-bottom) / 2);
}
